/* Hometown Components */

.htc-post-list {
  column-count: 4;
  column-gap: 0;
}

.htc-post-card {
  break-inside: avoid;
  box-sizing: border-box;
}




@media screen and (max-width: 1040px) {
  .htc-center {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .htc-post-list {
    column-count: 3;
  }
}

@media screen and (max-width: 640px) {
  .htc-post-list {
    column-count: 2;
  }
}