/* Hometown Components */

@media screen and (max-width: 1040px) {
  .htc-center {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}


@media screen and (max-width: 768px) {
  .htc-post-page .page-main {
    width: 100%;
  }

  .htc-post-page .page-side {
    display: none;
  }
}


@media screen and (max-width: 640px) {

}